<!DOCTYPE html>
<html lang="en">
<head>

 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title>Hindu Sanatan Mandir</title>
 <!-- css include -->
 <link rel='stylesheet' id='bootstrap-css' href='assets/css/bootstrap.min.css' type='text/css' media='all' />
 <link rel='stylesheet' id='fontawesome-css' href='assets/css/font-awesome.min.css' type='text/css' media='all' />
 <link rel='stylesheet' id='theme-css-css' href='assets/css/theme-style.css' type='text/css' media='all' />
 <link rel='stylesheet' id='peace-style-css' href='style.css' type='text/css' media='all' />
 <link rel='stylesheet' id='masterslider-css' href='assets/css/masterslider.main.css' type='text/css' media='all' />

 <!-- js inlcude -->
 <script type='text/javascript' src='assets/js/jquery.js'></script>
</head>
<body class="home page">
 <div id="preloader">
    <div id="loader">
        <div class="loader-inner ball-scale-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div><!-- loader inner -->
    </div><!-- /#loader -->
</div><!-- /#preloader -->


 <header id="top-section">
            <div class="container">
               <div class="col-sm-4 hidden-xs address">
                  <div class="pull-left">
                     <ul>
                        <li><i class="fa fa-phone"></i>+47 32 89 49 57</li>
                        <li><i class="fa fa-envelope-o"></i><a href="mailto:hsanatan@gmail.com">hsanatan@gmail.com</a></li>
                     </ul>
                  </div>
                  <!-- pull left  -->
               </div>
               <!-- /.address -->
               <div class="col-sm-4 col-xs-12">
                  <div class="logo text-center">
                     <a href="index.html"> <img src="images/09/logo.png" height="120" width="120" alt="Peace" /> </a>
                  </div>
                  <!-- /.logo -->
               </div>
               <!-- col sm 4 -->
               <div class="social-search pull-right hidden-xs">
                  <ul>
                     <li><a href="https://www.facebook.com/HinduSanatanMandir" target="_blank"><i class="fa fa-facebook"></i><span></span></a>
                     </li>
                     <!--   <li><a href="#"><i class="fa fa-twitter"></i><span></span></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus"></i><span></span></a>
                        </li>
                        <li><a href="#"><i class="fa fa-pinterest"></i><span></span></a>
                        </li> -->
                  </ul>
                  <div id="site-search">
                     <a href="#"><i class="fa fa-search"></i></a>
                     <form class="search-form" action="#" method="get">
                        <input type="text" name="s" id="topSearchField" class="form-control" value="" placeholder="Type &amp; Hit Enter...">
                        <i class="fa fa-close"></i>
                     </form>
                  </div>
                  <!--   site search  -->
                  <!--  top cart  -->
               </div>
               <!-- social search  -->
            </div>
            <!-- /.container -->
            <!-- menu slider start -->
            <div class="menu-slider">
               <nav id="peace-menu">
                  <div class="container">
                     <!-- Brand and toggle get grouped for better mobile display -->
                     <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive-icon" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                     </div>
                     <!-- end navbar head -->
                     <!-- Collect the nav links, forms, and other content for toggling -->
                     <div class="collapse navbar-collapse" id="responsive-icon">
                        <div class="menu-menu-1-container">
                           <ul class="nav navbar-nav text-center nav navbar-nav text-center">
                              <li><a title="Home" href="index.html">Home</a>
                              </li>
                              <li class="dropdown">
                                 <a title="Events" href="event-single.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Who We are <i class="fa fa-angle-down"></i></a>
                                 <ul role="menu" class=" dropdown-menu">
                                    <li><a title="Event Defaults" href="about-us.html">About us</a>
                                    </li>
                                    <li><a title="Event Defaults" href="contact-us.html">Contact us</a>
                                    </li>
                                     <li><a title="Event Defaults" href="committee.html">Management Committee</a>
                                 </li>
                                 </ul>
                              </li>
                              <li><a title="Home" href="about-hinduism.html">Hinduism</a>
                              </li>
                              <li><a title="Gallery Default" href="gallery.html">Gallery</a></li>
                              <li><a title="Gallery Default" href="membership.html">Membership</a></li>
                              <li><a title="Gallery Default" href="booking.html">Book an Appointment</a></li>
                              <!--   <li class="dropdown">
                                 <a title="News/Blog" href="blog-single.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">News/Blog <i class="fa fa-angle-down"></i></a>
                                 <ul role="menu" class=" dropdown-menu">
                                     <li><a title="Blog Default" href="blog-single.html">Blog Default</a>
                                     </li>
                                     <li><a title="Blog 2 Columns" href="blog-two-column.html">Blog 2 Columns</a>
                                     </li>
                                 </ul>
                                 </li>
                                 -->
                              <li class="button-skew"><a class="donate-button" href="#"><span> Donate Now <i class="fa fa-heart"></i></span></a>
                              </li>
                           </ul>
                        </div>
                        <!-- end menu-1-container -->
                     </div>
                     <!-- /.navbar-collapse -->
                  </div>
                  <!-- end container -->
               </nav>
               <!-- /#peace-menu -->
            </div>
            <!-- /.menu-slider -->
         </header>

<!-- error page start -->
<section class="error-404 not-found">
  <div class="heading-section">
    <div class="container">
      <div class="heading-text col-md-8 centered">
        <h1 class="page-title">404</h1>
        <p class="centered">SOMETHING IS WRONG</p>
        <span>The page you are looking for was moved, removed, renamed or might never existed.</span>

        <div class="col-md-6 centered"> 
          <div class="blog-search-bar">
              <form method="get" class="form-search" action="#">
                  <div class="input-append">
                    <input type="search" class="form-control search-field" placeholder="Type and Hit Enter ..." value="" name="s" title="Search for:">
                    <button type="submit" class="add-on"><i class="fa fa-search"></i></button>
                </div><!-- end input append -->
            </form>
        </div> <!-- end blog search --> 

        <div class="go-back">
            <a href="#">GO BACK HOME</a>
        </div><!-- end go back -->
    </div><!-- end col md 6 -->
</div><!-- /.heading-text -->
</div><!-- /.container -->
</div><!-- /.heading-fullwidth -->    
</section><!-- end error 404 -->


<!-- start footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="clearfix"></div>
           
            <div class="copyright">
                  <p>Copyright © 2021 <a href="https://agrim.no/">Agrim</a> | Designed by <a href="https://agrim.no/">Agrim</a>
                  </p>
               </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer><!-- end footer -->




<!-- js include -->
<script type='text/javascript' src='https://maps.google.com/maps/api/js?sensor=true&#038;ver=1.0'></script>
<script type='text/javascript' src='assets/js/plugins.js'></script>
<script type='text/javascript' src='assets/js/masterslider.min.js'></script>
<script type='text/javascript' src='assets/js/functions.js'></script>
<!-- custom -->

</body>
</html>